*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #5e67a2;
    color: cadetblue;
    text-align: center;
}

.header{
    text-decoration-line: underline;
    text-transform: uppercase;
    color: #49b2f3;
    font-size: 50px;
}

.las{
    text-transform: uppercase;
}