h1{
    text-decoration: underline wheat;
}

h2{
    text-decoration: dashed wheat;
}

h3{
    text-decoration: dashed wheat;
}
p{
    font-size: 15px;
}

*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: green;
    color: cadetblue;
    text-align: center;
}